
div{
  background:transparent;
  width:10px;
  height:10px;
  animation: 2s ugoku;
}


  @keyframes ugoku{
    0%{  box-shadow:
      /* 一列目 */
      0px 70px black,
      0px 80px black,
      0px 90px black,
      0px 100px black,

      /* 二列目 */
      10px 60px black,
      10px 70px #96687e,
      10px 80px #d4a3d1,
      10px 90px #d4a3d1,
      10px 100px #96687e,
      10px 110px black,
      10px 150px black,

      /* 三列目 */
      20px 40px black,
      20px 50px black,
      20px 60px #d4a3d1,
      20px 70px #d4a3d1,
      20px 80px #d4a3d1,
      20px 90px #d4a3d1,
      20px 100px #d4a3d1,
      20px 110px #96687e,
      20px 120px black,
      20px 140px black,
      20px 150px #96687e,
      20px 160px black,

      /* 四列目 */
      30px 30px black,
      30px 40px #96687e,
      30px 50px #d4a3d1,
      30px 60px #d4a3d1,
      30px 70px #d4a3d1,
      30px 80px #d4a3d1,
      30px 90px #d4a3d1,
      30px 100px #d4a3d1,
      30px 110px #d4a3d1,
      30px 120px black,
      30px 130px black,
      30px 140px #96687e,
      30px 150px #96687e,
      30px 160px black,

      /* 五列目 */
      40px 20px black,
      40px 30px #96687e,
      40px 40px #d4a3d1,
      40px 50px #d4a3d1,
      40px 60px #d4a3d1,
      40px 70px #d4a3d1,
      40px 80px #d4a3d1,
      40px 90px #96687e,
      40px 100px #96687e,
      40px 110px black,
      40px 120px black,
      40px 130px black,
      40px 140px #96687e,
      40px 150px #96687e,
      40px 160px black,

      /* 六列目 */

      50px 20px black,
      50px 30px #d4a3d1,
      50px 40px #d4a3d1,
      50px 50px #d4a3d1,
      50px 60px #d4a3d1,
      50px 70px #d4a3d1,
      50px 80px #d4a3d1,
      50px 90px #d4a3d1,
      50px 100px #d4a3d1,
      50px 110px #96687e,
      50px 120px #96687e,
      50px 130px black,
      50px 140px #96687e,
      50px 150px #96687e,
      50px 160px black,

      /* 七列目 */

      60px 10px black,
      60px 20px #96687e,
      60px 30px #d4a3d1,
      60px 40px #d4a3d1,
      60px 50px #d4a3d1,
      60px 60px #d4a3d1,
      60px 70px #d4a3d1,
      60px 80px #d4a3d1,
      60px 90px #d4a3d1,
      60px 100px #d4a3d1,
      60px 110px #d4a3d1,
      60px 120px #d4a3d1,
      60px 130px #96687e,
      60px 140px black,
      60px 150px #96687e,
      60px 160px black,

      /* 八列目 */

      70px 10px black,
      70px 20px #d4a3d1,
      70px 30px #d4a3d1,
      70px 40px #d4a3d1,
      70px 50px #d4a3d1,
      70px 60px #d4a3d1,
      70px 70px #d4a3d1,
      70px 80px #d4a3d1,
      70px 90px #d4a3d1,
      70px 100px #d4a3d1,
      70px 110px #d4a3d1,
      70px 120px #d4a3d1,
      70px 130px #96687e,
      70px 140px black,
      70px 150px black,

      /* 九列目 */
      80px 10px black,
      80px 20px #d4a3d1,
      80px 30px #d4a3d1,
      80px 40px #d4a3d1,
      80px 50px #d4a3d1,
      80px 60px #d4a3d1,
      80px 70px #d4a3d1,
      80px 80px #d4a3d1,
      80px 90px #d4a3d1,
      80px 100px #d4a3d1,
      80px 110px #d4a3d1,
      80px 120px #d4a3d1,
      80px 130px #d4a3d1,
      80px 140px black,
      80px 150px black,

      /* 十列目 */
      90px 10px black,
      90px 20px #d4a3d1,
      90px 30px #d4a3d1,
      90px 40px #d4a3d1,
      90px 50px #d4a3d1,
      90px 60px black,
      90px 70px black,
      90px 80px black,
      90px 90px #d4a3d1,
      90px 100px #d4a3d1,
      90px 110px #d4a3d1,
      90px 120px #d4a3d1,
      90px 130px #d4a3d1,
      90px 140px black,
      90px 150px black,

      /* 十一列目 */
      100px 10px black,
      100px 20px #96687e,
      100px 30px #d4a3d1,
      100px 40px #d4a3d1,
      100px 50px #d4a3d1,
      100px 60px #d4a3d1,
      100px 70px #d4a3d1,
      100px 80px #d4a3d1,
      100px 90px #d4a3d1,
      100px 100px #d4a3d1,
      100px 110px black,
      100px 120px #d4a3d1,
      100px 130px #d4a3d1,
      100px 140px black,
      100px 150px black,
      100px 160px black,

      /* 十二列目 */
      110px 20px black,
      110px 30px #d4a3d1,
      110px 40px #d4a3d1,
      110px 50px #d4a3d1,
      110px 60px black,
      110px 70px black,
      110px 80px black,
      110px 90px #d4a3d1,
      110px 100px #d4a3d1,
      110px 110px #d4a3d1,
      110px 120px #d4a3d1,
      110px 130px #96687e,
      110px 140px black,
      110px 150px #96687e,
      110px 160px black,

      /* 十三列目 */
      120px 20px black,
      120px 30px #96687e,
      120px 40px #d4a3d1,
      120px 50px #d4a3d1,
      120px 60px #d4a3d1,
      120px 70px #d4a3d1,
      120px 80px #d4a3d1,
      120px 90px #d4a3d1,
      120px 100px #d4a3d1,
      120px 110px #d4a3d1,
      120px 120px #96687e,
      120px 130px black,
      120px 140px #96687e,
      120px 150px #96687e,
      120px 160px black,

      /* 十四列目 */
      130px 30px black,
      130px 40px black,
      130px 50px #96687e,
      130px 60px #96687e,
      130px 70px #d4a3d1,
      130px 80px #d4a3d1,
      130px 90px #96687e,
      130px 100px #96687e,
      130px 110px black,
      130px 120px black,
      130px 130px black,
      130px 140px #96687e,
      130px 150px #96687e,
      130px 160px black,

      /* 十五列目 */
      140px 50px black,
      140px 60px black,
      140px 70px #d4a3d1,
      140px 80px #d4a3d1,
      140px 90px #d4a3d1,
      140px 100px #d4a3d1,
      140px 110px #96687e,
      140px 120px black,
      140px 140px black,
      140px 150px #96687e,
      140px 160px black,


      /* 十六列目 */
      150px 70px black,
      150px 80px black,
      150px 90px black,
      150px 100px black,
      150px 110px black,
      150px 150px black;

    }

    100%{
      box-shadow:
      /* 一列目 */
      0px 70px black,
      0px 80px black,
      0px 90px black,
      0px 100px black,

      /* 二列目 */
      10px 40px black,
      10px 50px black,
      10px 70px #96687e,
      10px 80px #d4a3d1,
      10px 90px #d4a3d1,
      10px 100px #96687e,
      10px 110px black,
      10px 150px black,

      /* 三列目 */
      20px 40px black,
      20px 50px black,
      20px 60px #d4a3d1,
      20px 70px #d4a3d1,
      20px 80px #d4a3d1,
      20px 90px #d4a3d1,
      20px 100px #d4a3d1,
      20px 110px #96687e,
      20px 120px black,
      20px 140px black,
      20px 150px #96687e,
      20px 160px black,

      /* 四列目 */
      30px 30px black,
      30px 40px #96687e,
      30px 50px #d4a3d1,
      30px 60px #d4a3d1,
      30px 70px #d4a3d1,
      30px 80px #d4a3d1,
      30px 90px #d4a3d1,
      30px 100px #d4a3d1,
      30px 110px #d4a3d1,
      30px 120px black,
      30px 130px black,
      30px 140px #96687e,
      30px 150px #96687e,
      30px 160px black,

      /* 五列目 */
      40px 20px black,
      40px 30px #96687e,
      40px 40px #d4a3d1,
      40px 50px #d4a3d1,
      40px 60px #d4a3d1,
      40px 70px #d4a3d1,
      40px 80px #d4a3d1,
      40px 90px #96687e,
      40px 100px #96687e,
      40px 110px black,
      40px 120px black,
      40px 130px black,
      40px 140px #96687e,
      40px 150px #96687e,
      40px 160px black,

      /* 六列目 */

      50px 20px black,
      50px 30px #d4a3d1,
      50px 40px #d4a3d1,
      50px 50px #d4a3d1,
      50px 60px #d4a3d1,
      50px 70px #d4a3d1,
      50px 80px #d4a3d1,
      50px 90px #d4a3d1,
      50px 100px #d4a3d1,
      50px 110px #96687e,
      50px 120px #96687e,
      50px 130px black,
      50px 140px #96687e,
      50px 150px #96687e,
      50px 160px black,

      /* 七列目 */

      60px 10px black,
      60px 20px #96687e,
      60px 30px #d4a3d1,
      60px 40px #d4a3d1,
      60px 50px #d4a3d1,
      60px 60px #d4a3d1,
      60px 70px #d4a3d1,
      60px 80px #d4a3d1,
      60px 90px #d4a3d1,
      60px 100px #d4a3d1,
      60px 110px #d4a3d1,
      60px 120px #d4a3d1,
      60px 130px #96687e,
      60px 140px black,
      60px 150px #96687e,
      60px 160px black,

      /* 八列目 */

      70px 10px black,
      70px 20px #d4a3d1,
      70px 30px #d4a3d1,
      70px 40px #d4a3d1,
      70px 50px #d4a3d1,
      70px 60px #d4a3d1,
      70px 70px #d4a3d1,
      70px 80px #d4a3d1,
      70px 90px #d4a3d1,
      70px 100px #d4a3d1,
      70px 110px #d4a3d1,
      70px 120px #d4a3d1,
      70px 130px #96687e,
      70px 140px black,
      70px 150px black,

      /* 九列目 */
      80px 10px black,
      80px 20px #d4a3d1,
      80px 30px #d4a3d1,
      80px 40px #d4a3d1,
      80px 50px #d4a3d1,
      80px 60px #d4a3d1,
      80px 70px #d4a3d1,
      80px 80px #d4a3d1,
      80px 90px #d4a3d1,
      80px 100px #d4a3d1,
      80px 110px #d4a3d1,
      80px 120px #d4a3d1,
      80px 130px #d4a3d1,
      80px 140px black,
      80px 150px black,

      /* 十列目 */
      90px 10px black,
      90px 20px #d4a3d1,
      90px 30px #d4a3d1,
      90px 40px #d4a3d1,
      90px 50px #d4a3d1,
      90px 60px black,
      90px 70px black,
      90px 80px black,
      90px 90px #d4a3d1,
      90px 100px #d4a3d1,
      90px 110px #d4a3d1,
      90px 120px #d4a3d1,
      90px 130px #d4a3d1,
      90px 140px black,
      90px 150px black,

      /* 十一列目 */
      100px 10px black,
      100px 20px #96687e,
      100px 30px #d4a3d1,
      100px 40px #d4a3d1,
      100px 50px #d4a3d1,
      100px 60px #d4a3d1,
      100px 70px #d4a3d1,
      100px 80px #d4a3d1,
      100px 90px #d4a3d1,
      100px 100px #d4a3d1,
      100px 110px black,
      100px 120px #d4a3d1,
      100px 130px #d4a3d1,
      100px 140px black,
      100px 150px black,
      100px 160px black,

      /* 十二列目 */
      110px 20px black,
      110px 30px #d4a3d1,
      110px 40px #d4a3d1,
      110px 50px #d4a3d1,
      110px 60px black,
      110px 70px black,
      110px 80px black,
      110px 90px #d4a3d1,
      110px 100px #d4a3d1,
      110px 110px #d4a3d1,
      110px 120px #d4a3d1,
      110px 130px #96687e,
      110px 140px black,
      110px 150px #96687e,
      110px 160px black,

      /* 十三列目 */
      120px 20px black,
      120px 30px #96687e,
      120px 40px #d4a3d1,
      120px 50px #d4a3d1,
      120px 60px #d4a3d1,
      120px 70px #d4a3d1,
      120px 80px #d4a3d1,
      120px 90px #d4a3d1,
      120px 100px #d4a3d1,
      120px 110px #d4a3d1,
      120px 120px #96687e,
      120px 130px black,
      120px 140px #96687e,
      120px 150px #96687e,
      120px 160px black,

      /* 十四列目 */
      130px 30px black,
      130px 40px black,
      130px 50px #96687e,
      130px 60px #96687e,
      130px 70px #d4a3d1,
      130px 80px #d4a3d1,
      130px 90px #96687e,
      130px 100px #96687e,
      130px 110px black,
      130px 120px black,
      130px 130px black,
      130px 140px #96687e,
      130px 150px #96687e,
      130px 160px black,

      /* 十五列目 */
      140px 50px black,
      140px 60px black,
      140px 70px #d4a3d1,
      140px 80px #d4a3d1,
      140px 90px #d4a3d1,
      140px 100px #d4a3d1,
      140px 110px #96687e,
      140px 120px black,
      140px 140px black,
      140px 150px #96687e,
      140px 160px black,


      /* 十六列目 */
      150px 70px black,
      150px 80px black,
      150px 90px black,
      150px 100px black,
      150px 110px black,
      150px 150px black;

    }
}
